doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.sass")
        title KyubCraft
    body
        canvas#c
        .overlay
            #save Save

    script(src="index.ts")
