#pre-import
    img.logo(src="assets/mc2kyub.png")
    h2 How to use
    ol
        li Install <a href="https://minecraft.net" target="_blank">Minecraft</a>
        li
            | Install
            | <a href="http://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.15.1.html"
            | target="_blank">Forge for 1.15.1</a>
        li Download <a href="https://github.com/Paulpanther/kyubcraft/releases" target="_blank">this Mod</a>
        li
            | Open
            | <code>%appdata%/local/.minecraft/mods</code>
            | and place the
            | <code>jar</code>
            | here
        li
            | Start Minecraft, create a new World and and start building with
            | <strong>Plywood</strong><img class="icon" src="assets/block_plywood.png" style="bottom: -0.2em">
        li
            | When finished, right-click it with the
            | <strong>Kyub-Item</strong><img class="icon" src="assets/item_kyub.png">
        li
            | Press
            | <code>t</code>
            | to open the Chat. Click on the link
    .gallery
        div: img(src="assets/example1.png" alt="The Plywood Block and Kyub Item are located in their own Creative Tab")
        div: img(src="assets/example2.png" alt="Build things with Plywood and right-click them with the Kyub Item")
        div: img(src="assets/example3.png" alt="The link will open this Website")
